@*@model IEnumerable<admin.ViewModels.RequirementVM>*@
@model PagedList.IPagedList<admin.ViewModels.RequirementVM>
@{
    ViewBag.Title = "Listagem de Requisitos";
}

<h4>Listagem de requisitos</h4>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Requisitos</li>
    </ol>
</nav>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-outline-success me-md-2" type="button" onclick="location.href='@Url.Action("Create")'">Adicionar Requisito</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nomes
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.RequirementId)
                    @Html.DisplayFor(modelItem => item.RequirementName)
                </td>
            </tr>
        }
        <tr>
            <td>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </td>
        </tr>
    </tbody>
</table>

<div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<", "Index", new { pagina = 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }, new { @class = "previous-page-link" })
        @Html.Raw(" ");
        @Html.ActionLink(" Anterior", "Index", new { pagina = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }, new { @class = "previous-page-link" })
    }
    else
    {
        <span id="Anterior">Anterior</span>
        @Html.Raw(" ");
        @*@:<<*@
        @*@Html.Raw(" ");
        @:< Anterior*@
    }

    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Próxima ", "Index", new { pagina = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, contador = 0 }, new { id = "proxima-link", data_contador = "", @class = "next-page-link" })
        @Html.Raw(" ")        ;
        @*@Html.ActionLink(">>", "Index", new { pagina = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter, @class = "next-page-link" })*@
    }
    else
    {
        <button id="next-page-text" type="button" class="btn btn-primary">Anterior</button>
        @Html.Raw(" ")        ;
        @*<span class="next-page-text">>>Anterior</span>*@
        @*@:Próxima >
        @Html.Raw(" ")
        @:>>*@
    }
</div>

<style>
    .btn-details {
        background-color: #007bff;
        border: none;
        padding: 8px 8px;
        border-radius: 4px;
        cursor: pointer;
    }
    .btn-details:hover {
       background-color: #0069d9;
    }
    .next-page-link {
        display: inline-block;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        background-color: #0069d9;
        border: none;
        text-align: center;
        text-decoration: none;
        border-radius: 8px;
    }
    .previous-page-link {
        display: inline-block;
        padding: 6px 16px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        background-color: #0069d9;
        border: none;
        text-align: center;
        text-decoration: none;
        border-radius: 8px;
    }
    #next-page-text {
        font-weight: bold;
        text-decoration: none;
    }
    .previous-page-text {
        font-weight: bold;       
        text-decoration: none;
    } 
    .body {
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 100vh;
        transform: scale(5);
    }
    .c-loader {
        animation: is-rotating 1s infinite;
        border: 6px solid #e5e5e5;
        border-radius: 50%;
        border-top-color: #51d4db;
        height: 80px;
        width: 80px;
    }   
</style>

<script>
    var contador = 0;
    function incrementarContador() {
        contador++;
        document.getElementById("contador").innerHTML = "Contador: " + contador;
        var proximaLink = document.getElementById("proxima-link");
        proximaLink.setAttribute("data-contador", contador);
    }
    var meuBotao = document.getElementById("meuBotao");
    meuBotao.addEventListener("click", incrementarContador);
    var proximaLink = document.getElementById("proxima-link");
    proximaLink.addEventListener("click", function (event) {
        var contadorAtual = proximaLink.getAttribute("data-contador");
        var href = proximaLink.getAttribute("href");
        href = href.split("?")[0] + "?pagina=" + (Model.PageNumber + 1) + "&sortOrder=" + ViewBag.CurrentSort + "&currentFilter=" + ViewBag.CurrentFilter + "&contador=" + contadorAtual;
        proximaLink.setAttribute("href", href);
    });
</script>