@*@model IEnumerable<admin.ViewModels.CareerMapVM>
@{
    ViewBag.Title = "Index";
}*@
@*<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Desenvolvimento Backend</a></li>
        <li class="breadcrumb-item active" aria-current="page">Carreiras</li>
    </ol>
    <h1>Desenvolvimento Backend</h1>

    <button class="btn-details" onclick="location.href='@Url.Action("Informacao")'">Exibir</button>

     
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="redirecionar" onchange="irParaPagina()">  
        <option selected>Analista Júnior</option>
        <option value="/CareerMaps/Informacao">C#</option>
        <option value="carreiras.html">SQL</option>
        <option value="carreiras.html">AWS</option>
        <option value="carreiras.html">Java</option>
        <option value="/CareerMaps/Informacao">Azure</option>
    </select>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="redirecionar" onchange="irParaPagina()">
        <option selected>Analista Pleno </option>
        <option value="carreiras.html">C#</option>
        <option value="carreiras.html">SQL</option>
        <option value="carreiras.html">AWS</option>
        <option value="carreiras.html">Java</option>
        <option value="/CareerMaps/Informacao">Azure</option>
    </select>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="redirecionar" onchange="irParaPagina()">
        <option selected>Analista Senior</option>
        <option value="carreiras.html">C#</option>
        <option value="carreiras.html">SQL</option>
        <option value="carreiras.html">AWS</option>
        <option value="carreiras.html">Java</option>
        <option value="/CareerMaps/Informacao">Azure</option>
    </select>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" onclick="history.back()">Button</button>
    </div>
</nav>*@

@*<script src="scripts/main.js"></script>
<script>
function irParaPagina() {
  var select = document.getElementById("redirecionar");
  var selectedOption = select.options[select.selectedIndex];
  if (selectedOption.value !== "") {
    window.location = selectedOption.value;
  }
}
CompanyPositionRequirementsVM
</script>*@


@model admin.Api.Model.Response.CompanyPositionListResponse
@{
    ViewBag.Title = "Carreira - " + Model.CareerMapResponse.CareerMapName;//  @model. CareerMapVm.CareerMapName;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">@Model.CareerMapResponse.CareerMapName</li>
    </ol>
    @*<h2>Mapa de Carreira</h2>*@
@*    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" type="button">Adicionar Mapa</button>
    </div>*@


    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Career name
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model.CompanyPositionResponseList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyPositionInfo.CompanyPositionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyPositionInfo.CompanyPositionName)
                </td>
                <td>
                    <button class="btn-details" onclick="location.href='@Url.Action("Informacao", new { id = item.CompanyPositionInfo.CompanyPositionId })'">Exibir</button>
                </td>
            </tr>
        }
    </table>   
</nav>



<style>
.btn-details {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-details:hover {
  background-color: #0069d9;
}
</style>


            











