@model admin.Api.Model.Response.RequirementListResponse
@{
    ViewBag.Title = "Cargo - "; //+ Model.CompanyPositionInfo.CompanyPositionName;
}

<h4>Requisitos do cargo</h4>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a href="@Url.Action("Index", "CareerMaps")">Mapas de carreira</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("CompanyPositionsCareerMapDetail", "CareerMaps", new { careerMapId = Model.CareerMap.CareerMapId })">@Model.CareerMap.CareerMapName</a></li>
        <li class="breadcrumb-item active">@Model.CompanyPositionInfo.CompanyPositionName</li>
    </ol>
</nav>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-outline-dark me-md-2" type="button" onclick="location.href='@Url.Action("AssociateRequirements", new { careerMapId = Model.CareerMap.CareerMapId, companyPositionId=Model.CompanyPositionInfo.CompanyPositionId } )'">Associar requisito</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Requisito
            </th>
            <th class="w-25">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requirements)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.RequirementInfo.RequirementId)
                    @Html.DisplayFor(modelItem => item.RequirementInfo.RequirementName)
                </td>
                <td>
                    <button class="btn btn-outline-info btn-sm" onclick="location.href='@Url.Action("TestsByRequirement", "Tests", new { requirementId = item.RequirementInfo.RequirementId })'">Testes</button>
                </td>
            </tr>
        }
        <tr>
            <td>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </td>
        </tr>
    </tbody>
</table>

<style>
    .btn-details {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 8px;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn-details:hover {
            background-color: #0069d9;
        }
</style>