@model IEnumerable<admin.Api.Model.Response.TestEntireResponse>

@{
    //ViewBag.Title = "Carreira - " + Model.CareerMapResponse.CareerMapName;
    //var f = Model.FirstOrDefault();
    //ViewData["Title"] = Model.FirstOrDefault().Description;

    var requirementName = "";
    if(
        Model != null && 
        Model.Count() > 0 &&
        Model.First() != null &&
        Model.First().Requirement != null && 
        Model.First().Requirement.RequirementName != null
    )
    {
        requirementName = Model.FirstOrDefault().Requirement.RequirementName;
    }

}

<h4>Testes do requisito</h4>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a href="@Url.Action("Index", "CareerMaps")">Mapas de carreira</a></li>
        @*<li class="breadcrumb-item"><a href="@Url.Action("CompanyPositionsCareerMapDetail", "CareerMaps", new { careerMapId = f.Model.CareerMap.CareerMapId })">@Model.CareerMap.CareerMapName</a></li>*@
        @*<li class="breadcrumb-item active">@Model.FirstOrDefault().Description</li>*@
        <li class="breadcrumb-item active">@requirementName</li>
    </ol>
</nav>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-outline-success me-md-2" type="button" onclick="location.href='@Url.Action("Create", new{ requirementId = ViewBag.requirementId})'">Adicionar Teste</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Description)*@
                @Html.DisplayName("Descrição")
            </th>
            <th class="w-25"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.TestId)
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /*id=item.TestId*/ }) |*@

                    <button class="btn btn-outline-info btn-sm" onclick="location.href='@Url.Action("Details", new { testId=item.TestId })'">Questões</button>
                    @*@Html.ActionLink("Teste", "Details", new { testId=item.TestId })*@


                @*| @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
        }
    </tbody>
</table>
